<! -- sidebar.html -->
<header class="sidebar-header" role="banner">
	<a href="{{ site.BASE_PATH }}/{{ site.projects_path }}">
		<img src="https://avatars0.githubusercontent.com/u/3216413?v=3&s=150" class="img-circle" />
	</a>
	<h3 class="title">
        <a href="{{ site.BASE_PATH }}/">{{ site.title }}</a>
    </h3>
</header>

{% if site.author.bio %}
<div id="bio" class="text-center">
	{{ site.author.bio }}
</div>
{% endif %}

<div id="contact-list" class="text-center">
	<ul class="list-unstyled list-inline">
		<!-- Bio -->
<!-- 		<li>
			<div title="about me">
				<a class="btn btn-default btn-sm" href="{{ site.BASE_PATH }}/{{ site.biography_path }}">
					<i class="fa fa-user fa-lg"></i>
				</a>
			</div>
		</li> -->
		<!-- CV -->
		<li>
			<div title="cv">
				<p>{{site.data.navigation}}</p>
				<a class="btn btn-default btn-sm" href="{{ site.BASE_PATH }}/assets/pdf/CV-Iuliano.pdf">
					<i class="fa fa-file-text fa-lg"></i>
				</a>
			</div>
		</li>
		<!-- Projects -->
		<li>
			<div title="projects">
				<p>{{site.data.navigation}}</p>
				<a class="btn btn-default btn-sm" href="{{ site.BASE_PATH }}/{{ site.projects_path }}">
					<i class="fa fa-code fa-lg"></i>
				</a>
			</div>
		</li>
	</ul>
	<ul class="list-unstyled list-inline">
		{% if site.author.github %}
		<li>
			<div title="github">
				<a class="btn btn-default btn-sm" href="https://github.com/{{ site.author.github }}">
					<i class="fa fa-github-alt fa-lg"></i>
				</a>
			</div>
		</li>
		{% endif %}
		{% if site.author.email %}
		<li>
			<div title="mail me">
				<a class="btn btn-default btn-sm" href="mailto:{{ site.author.email }}">
					<i class="fa fa-envelope fa-lg"></i>
				</a>
			</div>
		</li>
		{% endif %}
		{% if site.author.linkedin %}
		<li>
			<div title="linkedin">
				<a class="btn btn-default btn-sm" href="https://linkedin.com/pub/{{ site.author.linkedin }}">
					<i class="fa fa-linkedin fa-lg"></i>
				</a>
			</div>
		</li>
		{% endif %}
	</ul>

</div>
<! -- sidebar.html end -->
